body{
    background-color: #EAEAEA;
    color: #666666;
    font-family: Verdana;
    background:linear-gradient(#FFFFFF,#90C7E3);
}

header{
    background-color: #002171;
    color: #FFFFFF;
    font-family: Georgia;
    height: 120px;
    text-decoration: none;
}

h1{
    text-align: center;
    padding-top: .5em;
    font-size: 3em;
    letter-spacing: 0.25em;
}

nav{
    font-weight: bold;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    float: left;
    width: 160px;
    font-size: 1.2em;
    position: fixed;
}

nav a:link {
    color:#5C7FA3;
    text-decoration: none;
}

nav a:hover {
    color:#90C7E3;
    text-decoration: none;
}

nav a:visited {
    color: #344873;
    text-decoration: none;
}

nav ul {
    marker: none;
    padding-left: 1em;
}

h2{
    color: #1976D2;
    font-family: Georgia;
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    padding-left: 2em;
    padding-right: 2em;
    display:block;
    background-color: #FFFFFF;
    margin-left: 170px;
    overflow:auto;
}

dt{
    color: #002171;
    font-weight: bold;
}

.resort{
    color: #1976D2;
    font-size: 1.2em;
}

footer{
    font-size: .70em;
    text-align: center;
    font-style: italic;
    padding: 1em;
    background-color: #FFFFFF;
    margin-left: 170px;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #FFFFFF;
    min-width: 960px;
    max-width: 2048;
    box-shadow: drop-shadow();
    background:linear-gradient(#FFFFFF,#90C7E3);
}

homehero{
    height: 300px;
    background-size: 100% 100%;
    margin-left: 170px;
}

yurthero{
    height: 300px;
    background-size: 100% 100%;
    margin-left: 170px;
}

trailhero{
    height: 300px;
    background-size: 100% 100%;
    margin-left: 170px;
}

nav a{
    text-decoration: none;
}

* {box-sizing:border-box;}

section {
    float: left;
    width: 33%;
    padding-left: 2em;
    padding-right: 2em;
}